<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.4.1/dist/axentix.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axentix@2.4.1/dist/axentix.min.js"></script>
</head>
<body class="layout">

{{{body}}}

</body>
</html>